language: php

sudo: false

dist: precise

php:
  - 5.6.6
  - 7.0
  - 7.1

services:
  - elasticsearch
  - mongodb
  - mysql-5.7
  - redis-server

global:
  - REPORT_EXIT_STATUS=1

before_install:
  - if [[ $TRAVIS_PHP_VERSION = "5.6.6" ]]; then echo yes | pecl install mongodb; fi
  - echo "extension=mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('travis') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - mysql -e 'CREATE DATABASE travis;'

before_script:
  - cp config/parameters.travis.yml config/parameters.yml
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - vendor/bin/coveralls -v

matrix:
  fast_finish: true
