language: php

sudo: false

php:
  - 5.6
  - 7.0
  - 7.1

services:
  - mongodb
  - mysql
  - redis-server

global:
  - REPORT_EXIT_STATUS=1

before_install:
  - if [[ $TRAVIS_PHP_VERSION = "5.6" ]]; then echo yes | pecl install mongodb; fi
  - echo "extension=mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('@Mauretto78') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - mysql -e 'CREATE DATABASE eventstore_demo;'

before_script:
  - cp config/parameters.dist.yml config/parameters.yml
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpunit

matrix:
  fast_finish: true